.container{
  width: 35rem;
  height: 40rem;
  border: 2px solid darkgray;
  margin: 20px auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.messageContainer{
  width: 80%;
  height: 80%;
  border: 1px solid black;
  margin-left: 10px;
}

.notificationVisibility{
  visibility:visible;
}

.notificationHidden{
  visibility:hidden;
}
