*, .design {
  margin-right: auto;
  margin-left: auto;
}

.design {
  display: grid;
  justify-content: center;
  border: 3px dotted black;
  width: 80%;
  margin-top: 2.3rem;
}

table, th, td {
  border: 1px solid black;
}

td{
  padding: 0.3rem 0.3rem;
}

.dimension{
  width: 20rem;
  height: auto;
  object-fit: cover;
  object-position: center;
}

p{
  text-align: center;
  font-family: "Comic Sans MS";
}


